@charset "UTF-8";
header, body, h1, h2, h3, h4, h5, h6{
	margin: 0px;
}
/* 메인 */
header{
	text-align: center;
	background-color: #fdecf7;}
header>a{
	font-size: 50px; 
	text-align: center; 
	font-weight: bold; 
	text-decoration: none;}
header>a:hover{
	text-decoration: none;}

#malo{
	width: 100px;}
nav{
	padding: 10px;
	padding-left:27%; 
	background-color: #fdfae2;}
nav>ul{ 
	list-style:none;  
	font-size: 30px; 
	padding-left: 0px;}
nav>ul>li{
	display: inline-block; }

#categori{
	background-color: #fdecf7;
	width: 25%; 
	height: 600px; 
	float: left;}
#categori>ul{
	list-style:none; 
	width: 150px;
	height: 500px;
	padding-left: 30px; 
	padding-right: 30px; 
	padding-top: 60px;}
#categori>ul>li{
	background-color: gray; 
	border: 1px solid white;
	height: 50px;}
	
#mart{
	float: left;
	width: 50%;
	margin-left: 10px;
}
#mart iframe{
	width: 100%;
	height: 600px;
}

#right{
	float: right;
	width: 20%;
	height: 600px;
	background-color: #fdecf7;
	padding-left: 20px;
	padding-right: 20px;}
#cart>h4{
	padding-top: 20px;
}
footer{
	width: 100%;
	position: absolute;
	bottom: -405px;
	background-color: antiquewhite;
	padding: 60px 0px;
	text-align: center;
}







